#aboutUs {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ices {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.notTill576 {
    display: none;
}

@media (max-width: 768px) {
    .ices {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    #aboutUs {
        height: 700px;
    }

    .ices {
        margin-left: 0;
        margin-right: 0;
    }

    .notTill576 {
        display: block;
    }
}

@media (max-width: 400px) {
    #aboutUs .ices img {
        display: none;
    }
}

#aboutUsCont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#moreButton2 {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    padding: 10px 40px;
}

#moreButton2:hover {
    background-color: #45a049;
}