.box-full#storeIMG {
    position: relative;
    background-color: #FCBFB3;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-full#storeIMG #slogan{
     width: 60%;
 }

.box-full#storeIMG #sloganLogo{
    width: 40%;
}

