.box-full#pageStuff {
    /*width: 100%;*/
}

#page #pageStuff #header {
    background: #B5E8D5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page #pageStuff #content {
    overflow: auto;
    padding: 0px 40px;
    text-align: center;
}

#page #pageStuff #content .contains {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page #pageStuff #content h2 {
    font-size: 3rem;
}

#page #pageStuff #content p {
    border-bottom: 2px dotted black;
    font-size: 2rem;
}
